@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f2f2f2;
}

.card {
  border: none !important;
}

.card:hover {
  transform: scale(1.05);
  filter: drop-shadow(8px 8px 10px gray);
  transition: all 0.5s ease-in-out;
}

.logo {
  width: 100px;
}

.hero-img {
  width: 100%;
}

footer ul a {
  text-decoration: none;
}


/* Button - Carmelo !!! Attenzione, questi Button sono presenti in ProductPage, CartPage */
.custom-btnCarmelo {
  text-decoration: none;
}

.custom-btnCarmelo {
  background-color: #8a9098;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.custom-btnCarmelo:hover {
  background-color: rgba(49, 131, 231, 0.715);
  color: #fff;
}

/* css modale del carrello */

.btn-modal {
  display: flex;
  background-color: #8a9098 !important;
  color: #fff !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  text-align: center !important;
}

.btn-modal:hover {
  background-color: rgba(49, 131, 231, 0.715) !important;
  color: #fff !important;
}

.title-modal {
  font-size: 2rem;
  font-weight: 600;

}

.custom-modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  /* Posiziona il pannello a destra */
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

.custom-modal-dialog {
  background-color: #f8f8f8e7;
  border-radius: 10px 0 0 10px;
  /* Arrotonda solo i bordi sinistri */
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  /* Larghezza del pannello */
  height: 100%;
  /* Altezza del pannello */
  animation: slideIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.custom-modal-header {
  background-color: lightgrey;
  color: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.475);
}

.custom-modal-body {
  padding: 20px;
  font-size: 1rem;
  color: #393333;
  flex-grow: 1;
  /* Permette al corpo di occupare lo spazio rimanente */
  overflow-y: auto;
  /* Aggiunge uno scroll se il contenuto è troppo lungo */
}

.custom-modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #ddd;
}

.custom-modal-footer button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-modal-footer button:hover {
  background-color: #495057;
}




.custom-btnCarmelo:hover {
  background-color: rgba(49, 131, 231, 0.715);
  color: #fff;
}

/* bottone Acquista ora */
.btn-purchase {
  transition: opacity 0.3s ease-in-out;
}

.btn-purchase.loading {
  opacity: 0.7;
  pointer-events: none;
}

.thank-you-page,
.not-found {
  height: 60vh;
}